week7.txt
{
    "name": "AzureDataLakeStorageLinkedService",
    "properties": {
        "type": "AzureDataLakeStore",
        "typeProperties": {
            "url": "https://yourdatalake.dfs.core.windows.net"
        },
        "connectVia": {
            "referenceName": "SelfHostedIR",
            "type": "IntegrationRuntimeReference"
        }
    }
}
{
    "name": "CustMstrDataset",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureDataLakeStorageLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "DelimitedText",
        "typeProperties": {
            "location": {
                "type": "AzureBlobFSLocation",
                "fileName": "CUST_MSTR_*.csv",
                "folderPath": "your-folder-path"
            },
            "columnDelimiter": ",",
            "firstRowAsHeader": true
        }
    }
}
{
    "name": "CustMstrTable",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureSqlDbLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "AzureSqlTable",
        "typeProperties": {
            "tableName": "CUST_MSTR"
        }
    }
}
{
    "name": "ProcessCustMstrFiles",
    "properties": {
        "activities": [
            {
                "name": "GetMetadata",
                "type": "GetMetadata",
                "typeProperties": {
                    "dataset": {
                        "referenceName": "CustMstrDataset",
                        "type": "DatasetReference"
                    },
                    "fieldList": ["childItems"]
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetMetadata",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetMetadata').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "CopyCustMstrFile",
                            "type": "Copy",
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "sourceRetryCount": 1
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "preCopyScript": "TRUNCATE TABLE CUST_MSTR"
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "CustMstrDataset",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "CustMstrTable",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}

{
    "name": "MasterChildExportDataset",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureDataLakeStorageLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "DelimitedText",
        "typeProperties": {
            "location": {
                "type": "AzureBlobFSLocation",
                "fileName": "master_child_export-*.csv",
                "folderPath": "your-folder-path"
            },
            "columnDelimiter": ",",
            "firstRowAsHeader": true
        }
    }
}
{
    "name": "MasterChildTable",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureSqlDbLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "AzureSqlTable",
        "typeProperties": {
            "tableName": "master_child"
        }
    }
}
{
    "name": "ProcessMasterChildExportFiles",
    "properties": {
        "activities": [
            {
                "name": "GetMetadata",
                "type": "GetMetadata",
                "typeProperties": {
                    "dataset": {
                        "referenceName": "MasterChildExportDataset",
                        "type": "DatasetReference"
                    },
                    "fieldList": ["childItems"]
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetMetadata",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetMetadata').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "CopyMasterChildExportFile",
                            "type": "Copy",
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "sourceRetryCount": 1
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "preCopyScript": "TRUNCATE TABLE master_child"
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "MasterChildExportDataset",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "MasterChildTable",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}
{
    "name": "HEcomOrderDataset",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureDataLakeStorageLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "DelimitedText",
        "typeProperties": {
            "location": {
                "type": "AzureBlobFSLocation",
                "fileName": "H_ECOM_ORDER*.csv",
                "folderPath": "your-folder-path"
            },
            "columnDelimiter": ",",
            "firstRowAsHeader": true
        }
    }
}
{
    "name": "HEcomOrdersTable",
    "properties": {
        "linkedServiceName": {
            "referenceName": "AzureSqlDbLinkedService",
            "type": "LinkedServiceReference"
        },
        "type": "AzureSqlTable",
        "typeProperties": {
            "tableName": "H_ECOM_Orders"
        }
    }
}
{
    "name": "ProcessHEcomOrderFiles",
    "properties": {
        "activities": [
            {
                "name": "GetMetadata",
                "type": "GetMetadata",
                "typeProperties": {
                    "dataset": {
                        "referenceName": "HEcomOrderDataset",
                        "type": "DatasetReference"
                    },
                    "fieldList": ["childItems"]
                }
            },
            {
                "name": "ForEach",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "GetMetadata",
                        "dependencyConditions": ["Succeeded"]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('GetMetadata').output.childItems",
                        "type": "Expression"
                    },
                    "activities": [
                        {
                            "name": "CopyHEcomOrderFile",
                            "type": "Copy",
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "sourceRetryCount": 1
                                },
                                "sink": {
                                    "type": "SqlSink",
                                    "preCopyScript": "TRUNCATE TABLE H_ECOM_Orders"
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "HEcomOrderDataset",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "HEcomOrdersTable",
                                    "type": "DatasetReference"
                                }
                            ]
                        }
                    ]
                }
            }
        ]
    }
}

